@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

html{
    scroll-behavior: smooth;
}

#navbar {
    nav {
        padding: 0 100px;
        background: none;
    }
    a {
        color : black !important;
    }
    .brand-logo {
        font-family: 'Grand Hotel', cursive;
    }
}

@mixin form-styles {
    h2 {
        font-family: 'Grand Hotel', cursive;
    }
    .card  {
        padding: 20px;
        text-align: center;
        max-width: 400px;
        margin: 80px auto;
    }
    .input-field input[type=text]:focus {
        border-bottom: 1px solid #64b5f6;
        box-shadow: 0 1px 0 0  #64b5f6;
    }
    .input-field input[type=password]:focus {
        border-bottom: 1px solid #64b5f6;
        box-shadow: 0 1px 0 0  #64b5f6;
    }
    h6 {
        margin: 30px;
    }
  }

.form-main-container{
    display: flex;
    justify-content: space-evenly;
    .login-form, .signup-form, .reset-password-form, .new-password-form{
        @include form-styles;
        margin-right: 150px;
    }
    .login-form, .signup-form, .new-password-form{
        .password-field{
                position: relative;
            span{
                position: absolute;
                top: 15px;
                right: 5px;
                cursor: pointer;
            }
        }
    }
}

.create-post-form{
    @include form-styles;
}

.profile {
    .main-profile-container {
        max-width: 550px;
        margin: 0px auto;
    }
    .profile-head{
        .pic-container{
            position: relative;
            display: flex;
            .pic{
                margin: 0 auto;
                height: 160px;
                img{
                    object-fit: cover;
                    width: 160px;
                    height: 160px;
                    border-radius: 80px;
                }
            }
        }
        display: flex;
        justify-content: space-around;
        margin: 30px 0px;
        padding: 30px 0px;
        border-bottom: 1px solid grey;
    }
    .profile-info{
        h4{
            font-weight: 100;
            font-size: 2.5em;
        }
        h6{
            color: #878585;
        }
        .profile-sub-details{
            display: flex;
            justify-content: space-between;
            width: 108%;
            h5{
                font-size: 1.5em;
                span{
                    font-weight: 500;
                }
            }
        }
    }
    .profile-gallery{
        div{
            height: 183.33px;
            padding: 0.75rem 0.75rem;
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    } 
}

.home {
    .card {
        max-width: 500px;
        height: max-content;
        margin: 26px auto;
        .heart-icon {
            color : #ef5350 !important;
        }
        .main-head{
            padding: 17px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .profile-link{
                display: flex;
                align-items: center;
                h5{
                    margin: 0;
                    margin-left: 10px;
                    font-size: 1.2em;
                }
                .side-image{
                    object-fit: cover;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
            }
            a{
                color: black;
            }
        }
        .card-content{
            input{
                border: none;
                border-top: 1px solid #d6d4d4;
                &:focus{
                    box-shadow: none !important;
                    border-bottom: none !important;
                }
            }
            .comment-box{
                margin: 15px 0;
                p span{
                    font-size: 1.3em;
                    font-weight: 500;
                    margin-right: 10px;
                }
                a{
                    color: black;
                }
            }
        }
    }
    .pagination{
        text-align: center;
        margin-bottom: 100px;
    }
}

.material-icons:hover  {
    cursor : pointer
}

.preloader-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}