@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

#navbar {
    nav {
        padding: 0 100px;
        background: none;
    }
    a {
        color : black !important;
    }
    .brand-logo {
        font-family: 'Grand Hotel', cursive;
    }
}

.login-form, .signup-form, .create-post-form {
    h2 {
        font-family: 'Grand Hotel', cursive;
    }
    .card  {
        padding: 20px;
        text-align: center;
        max-width: 400px;
        margin: 80px auto;
    }
    .input-field input[type=text]:focus {
        border-bottom: 1px solid #64b5f6;
        box-shadow: 0 1px 0 0  #64b5f6;
    }
    .input-field input[type=password]:focus {
        border-bottom: 1px solid #64b5f6;
        box-shadow: 0 1px 0 0  #64b5f6;
    }
    h6 {
        margin: 30px;
    }
}

.profile {
    .main-profile-container {
        max-width: 550px;
        margin: 0px auto;
    }
    .profile-head {
        img {
            width: 160px;
            height: 160px;
            border-radius: 80px;
        }
        display: flex;
        justify-content: space-around;
        margin: 18px 0px;
        border-bottom: 1px solid grey;
    }
    .profile-info {
        display: flex;
        justify-content: space-between;
        width: 108%;
    }
    .profile-gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        img {
            width: 30%;
        }
    }
}

.home {
    .card {
        max-width: 500px;
        height: max-content;
        margin: 26px auto;
        .heart-icon {
            color : #ef5350 !important;
        }
    }
}

.material-icons:hover  {
    cursor : pointer
}