.form-main-container{
    display: flex;
    justify-content: space-evenly;
    .login-form{
        h2 {
            font-family: 'Grand Hotel', cursive;
        }
        .card  {
            padding: 20px;
            text-align: center;
            max-width: 400px;
            margin: 80px auto;
        }
        .input-field input[type=text]:focus {
            border-bottom: 1px solid #64b5f6;
            box-shadow: 0 1px 0 0  #64b5f6;
        }
        .input-field input[type=password]:focus {
            border-bottom: 1px solid #64b5f6;
            box-shadow: 0 1px 0 0  #64b5f6;
        }
        h6 {
            margin: 30px;
        }
        margin-right: 150px;
        .password-field{
            position: relative;
            span{
                position: absolute;
                top: 15px;
                right: 5px;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 768px){
    .logo{
        display: none;
    }
    .login-form{
        margin-right: 0 !important;
        .card{
            margin: 40px 40px !important;
            h2{
                font-size: 2.5rem;
                margin: 8px 0;
            }
            h6{
                font-size: 0.9rem;
            }
        }
    }
}
